@font-face {
    font-family: 'Poppins';
    src: url('./public/fonts/Poppins-ExtraLight.ttf') format('ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins';
    src: url('./public/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('./public/fonts/Poppins-Medium.ttf') format('ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('./public/fonts/Poppins-SemiBold.ttf') format('ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('./public/fonts/Poppins-Bold.ttf') format('ttf');
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Irish_font{
    font-family: 'Irish Grover',sans-serif;
}
.checked {
    color: orange;
}