@font-face {
    font-family: 'Avenir LT Std';
    src: url('../src/public/fonts/FontsFree-Net-AvenirLTStd-Book.ttf') format('ttf');
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir LT Std', sans-serif;
}